body {
  margin: 0;
  background-color: rgba(34, 32, 32);
  padding: 0;
}

p {
  color: white;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}